body {
	background-color: #DDD;
}

.module {
	background: white;
	margin: 10px 0px;
	padding: 10px;
	border-radius: 10px;
}

.page-header {
	border-bottom: 1px solid #666;
	margin: 0px;
	//font-size: 24px;
}

ul li {
	list-style-type: none;
}

.stuff {
	font-size: 16px;
}

.come-in {
	transform: translateY(150px);
  	animation: come-in 1.2s ease forwards;
}

@keyframes come-in {
  to { transform: translateY(0); }
}

.already-visible {
  transform: translateY(0);
  animation: none;
}

.invisible {
	visibility: hidden;
}

.visible {
	visibility: visible;
}

body {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/blurry-blue.jpg);
  background-size: cover;
  padding: 30px;
}

img {
	width: auto;
	height: auto;

	width: 100%;
}